html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('coral2.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    color: yellow;

}

/*.container {*/
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-100%);*/
    /*text-align: center;*/
/*}*/

h1, h2 {
    text-transform: uppercase;
}

#title {
    width: 400px;
    padding: 1em;
    border: 1px solid yellow;
    border-radius: 3px;
    background: none;
    color: #ff0;
}

#ratingRow, #btnRow {
    width: 50%;
}

#form {
    border: 1px solid yellow;
    margin-bottom: 3em;
}

.hide{
    display: none;
}

.yellowBtn {
    border: 1px solid #ff0;
    color: #ff0;
}

.yellowBtn:hover {
    background: #ff0;
    border: 1px solid #ff0;
    color: #116185;
}

::placeholder {
    color: lightgrey;
}

#ajaxLoader {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}

a {
    color: yellow;
    /*#CFD297*/
            /*#7B8736*/
            /*#464916*/
            /*#578C90*/
            /*#7DAC6B*/
            /*#CC6666*/
}

a:hover {
    color:  #7DAC6B;
}